<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <h1>Welcome back!</h1>
    <% if (locals.currentUser.admin) { %>
    <a href="/new-message">New Message</a>
    <% } else { %>
    <a href="/join">Join the club</a>
    <% } %> <% } else { %>
    <h1>Sign up and/or login for available actions</h1>
    <a href="/login">Login</a>
    <a href="/signup" style="margin-left: 10px">Sign Up</a>
    <% } %>
    <div class="messages"></div>
  </body>
</html>
