<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club!</title>
  </head>
  <body>
    <h1>Join the club!</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/join" method="post">
      <div class="form-row">
        <label for="passcode">Passcode: </label>
        <input type="text" name="passcode" id="passcode" />
      </div>
      <button type="submit">Submit</button>
    </form>
    <!-- <% if (locals.currentUser) { %>
     <%- include("partials/errors.ejs") %>
    <form action="/join" method="post">
      <div class="form-row">
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" id="passcode" />
      </div>
    </form>
    <% } else { %>
    <p>
      You must <a href="/signup">sign up</a> and/or <a href="/login">log in</a>
      first.
    </p>
    <% } %>-->
  </body>
</html>
