<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include("partials/errors.ejs") %> <% if (locals.currentUser) { %>
    <h1>You are already logged in.</h1>
    <a href="/">Home</a>
    <a href="/logout" style="margin-left: 10px">Log Out</a>
    <% } else { %>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <div class="form-row">
        <label for="firstname">First Name: </label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          maxlength="50"
          required
        />
      </div>
      <div class="form-row">
        <label for="lastname">Last Name: </label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          maxlength="50"
          required
        />
      </div>
      <div class="form-row">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="form-row">
        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id="password"
          minlength="8"
          required
        />
      </div>
      <div class="form-row">
        <label for="confirm-password">Confirm Password: </label>
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          minlength="8"
          required
        />
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <% } %>
  </body>
</html>
